<div class="col-md-6 col-md-offset-3">
    <h2>Change Password</h2>
    <form name="form" [formGroup]="changePasswordForm" (ngSubmit)="submitForm(changePasswordForm.value)" novalidate>
        <div class="form-group" [ngClass]="{'has-error':formErrors.old_password}">
            <label for="password">Old Password</label>
            <input type="password" class="form-control"
            [formControl]="changePasswordForm.controls['old_password']" />
            <div *ngIf="formErrors.old_password" class="alert alert-danger">
                {{ formErrors.old_password }}
            </div>
        </div>
        <div class="form-group" [ngClass]="{'has-error':formErrors.new_password}">
            <label for="password">New Password</label>
            <input type="password" class="form-control"
            [formControl]="changePasswordForm.controls['new_password']" />
            <div *ngIf="formErrors.new_password" class="alert alert-danger">
                {{ formErrors.new_password }}
            </div>
        </div>
        <div class="form-group" [ngClass]="{'has-error':formErrors.new_password2}">
            <label for="password">Confirm New Password</label>
            <input type="password" class="form-control" [formControl]="changePasswordForm.controls['new_password2']" />
            <div *ngIf="formErrors.new_password2" class="alert alert-danger">
                {{ formErrors.new_password2 }}
            </div>
        </div>
        <div class="form-group">
            <button [disabled]="loading || !changePasswordForm.valid" type="submit" class="btn btn-primary">Change Password</button>
        </div>
    </form>
</div>