<div class="col-md-6 col-md-offset-3">
    <h2>Login</h2>
    <form name="form" [formGroup]="myForm" (ngSubmit)="submitForm(myForm.value)" novalidate>
    	<div class="form-group" [ngClass]="{'has-error':formErrors.email}">
            <label for="email">Email</label>
            <input type="email" class="form-control" [formControl]="myForm.controls['email']"/>
            <div *ngIf="formErrors.email" class="alert alert-danger">
          		{{ formErrors.email }}
        	</div>
        </div>
         <div class="form-group" [ngClass]="{'has-error':formErrors.password}">
            <label for="password">Password</label>
            <input type="password" class="form-control" [formControl]="myForm.controls['password']" />
            <div *ngIf="formErrors.password" class="alert alert-danger">
          		{{ formErrors.password }}
        	</div>
        </div>
        <div class="form-group">
            <a [routerLink]="['/profile/forgot_password']" class="btn btn-link">forgot password</a>
        </div>
        <!--
        <div class="checkbox">
			<label>
				<input name="remember" [formControl]="myForm.controls['remember']" type="checkbox"> Remember me
			</label>
		</div>
        -->
        <div class="form-group">
            <button [disabled]="loading || !myForm.valid" type="submit" class="btn btn-primary">Login</button>
        	<a [routerLink]="['/profile/register']" [queryParams]="{returnUrl: returnUrl}" class="btn btn-link">Register</a>
        </div>
    </form>
</div>