<div class="col-md-6 col-md-offset-3">
    <h2>Register</h2>
    <form name="form" [formGroup]="myForm" (ngSubmit)="submitForm(myForm.value, passwordForm.value)" novalidate>
    	<div class="form-group" [ngClass]="{'has-error':formErrors.email}">
            <label for="email">Email</label>
            <input type="email" class="form-control" [formControl]="myForm.controls['email']"/>
            <div *ngIf="formErrors.email" class="alert alert-danger">
          		{{ formErrors.email }}
        	</div>
        </div>
        <div class="form-group" [ngClass]="{'has-error':formErrors.phone}">
            <label for="phone">Phone</label>
            <input type="text" class="form-control" 
            placeholder="330612345678"
            [formControl]="myForm.controls['phone']"/>
            <div *ngIf="formErrors.phone" class="alert alert-danger">
          		{{ formErrors.phone }}
        	</div>
        </div>
        <div [formGroup]="passwordForm">
	        <div class="form-group" [ngClass]="{'has-error':formErrors.password}">
	            <label for="password">Password</label>
	            <input type="password" class="form-control"
	            [formControl]="passwordForm.controls['password']" />
	            <div *ngIf="formErrors.password" class="alert alert-danger">
	          		{{ formErrors.password }}
	        	</div>
	        </div>
	        <div class="form-group" [ngClass]="{'has-error':formErrors.password2}">
	            <label for="password">Confirm Password</label>
	            <input type="password" class="form-control" [formControl]="passwordForm.controls['password2']" />
	            <div *ngIf="formErrors.password2" class="alert alert-danger">
	          		{{ formErrors.password2 }}
	        	</div>
	        </div>
	    </div>
	    <div class="form-group">
			By signing up, I agree to Mandk’s 
			<a href="#"> Terms of Service </a>.
		</div>
        <div class="form-group">
            <button [disabled]="loading || (!myForm.valid && !passwordForm.valid)" type="submit" class="btn btn-primary">Register</button>
            <a [routerLink]="['/login']" [queryParams]="{returnUrl: returnUrl}" class="btn btn-link">Login</a>
        </div>
    </form>
</div>